body {
    background: linear-gradient(to top, #01EEFE, rgb(0, 0, 0));
    background-size: 100% 150%;
    height: 100vh;
    margin: 0;
}

header{
    color: rgb(255, 255, 255);
    background-color: #20242D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    position: relative;
    top: 50px;
    font-size: 12pt;
}

a{
    color: rgb(182, 182, 182);
    text-decoration: none;
}

.animation_header:hover{
    color: rgb(255, 255, 255);
}


section{
    background-color: #20242D;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    box-shadow: 
    50px 30px 10px -10px rgba(0, 0, 0, 0.303);
    position: relative;
    top: 30px;
    padding: 4%;
}

h1{
    font-size: 20pt;
}

p{
    font-size: 12pt;
}

img{
    width: 70%;
    position: relative;
    left: 30%;
}

.links{
    width: 50%;
    background-color: #00b3c0;
    border-radius: 10px;
    padding: 5px;
}